:host {
    width: 100%;
    display: block !important;
}

.selected-image {
    max-width: 50%;
    height: auto;
}

.image-canvas {
    max-width: 300px;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.button {
    min-width: 150px;
}


.github-link {
  margin-left: auto;
  margin-right: 16px;
}

.github-icon {
  margin-left: 10px;
}

.icon {
  font-size: 25px;
  color: white;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #292e2a;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
    height: 40px;
    width: auto;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }