<canvas *ngFor="let fileName of files" id={{fileName}} title={{fileName}} #canvasSelector
  class="selected-image-canvas"></canvas>

<div class="caption">
  <input hidden (change)="onFileSelected($event.target)" #fileInput type="file" id="fileInput" name="file"
    accept="image/*" #imgFileInput multiple="true" />
  <button mat-raised-button color="primary" type="button" md-button (click)="imgFileInput.click()"
    class="button-margin">Add a screenshot</button>
</div>

<div>
  <div *ngIf="isReady; else isLoading;">
    <button mat-raised-button color="primary" type="button" (click)="extractAllEchelons()" class="button-margin"
      [disabled]="(files.length ==0)">
      Extract Echelons
    </button>
  </div>
  <div>
    <button mat-raised-button color="primary" type="button" (click)="combineSelectedEchelons()"
      [disabled]="(extractedEchelons.length == 0)" class="button-margin">
      Combine echelons
    </button>
  </div>
</div>

<ng-template #isLoading>
  <mat-spinner></mat-spinner>
</ng-template>

<mat-spinner *ngIf="isWorking"></mat-spinner>

<canvas #resultCanvas></canvas>

<div fxFlex>
  <div *ngFor="let echelon of extractedEchelons">
    <app-echelon-canvas [echelon]="echelon" fxFlex="nogrow"></app-echelon-canvas>
  </div>
</div>